		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div class="header">
				<h1 class="page-header">
					我的 LicenseServer <small>你好： <font ng-bind="generalInfo.user.username"></font></small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#/">首页</a></li>
					<li class="active"></li>
				</ol>
			</div>
			<div id="page-inner">
				<!-- /. ROW  -->
				<div class="row">
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="board">
							<div class="panel panel-primary">
								<div class="number">
									<h3>
										<h3 ng-bind="generalInfo.user.point"></h3>
										<small>现有积分</small>
									</h3>
								</div>
								<div class="icon">
									<a href="#/"><i class="fa fa-fire fa-5x red"></i></a>
								</div>

							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="board">
							<div class="panel panel-primary">
								<div class="number">
									<h3>
										<h3 ng-bind="generalInfo.user.balance"></h3>
										<small>余额</small>
									</h3>
								</div>
								<div class="icon">
									<a href="#/"><i class="fa fa-money fa-5x yellow"></i></a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="board">
							<div class="panel panel-primary">
								<div class="number">
									<h3>
										<h3 ng-bind="generalInfo.user.isGithub"></h3>
										<small>Git群组</small>
									</h3>
								</div>
								<div class="icon">
									<a ng-href={{generalInfo.user.gitHref}}><i class="fa fa-group fa-5x blue"></i></a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="board">
							<div class="panel panel-primary">
								<div class="number">
									<h3>
										<h3 ng-bind="generalInfo.user.isTeacher"></h3>
										<small>教师</small>
									</h3>
								</div>
								<div class="icon">
									<a ng-href={{generalInfo.user.tearchHref}}><i class="fa fa-cogs fa-5x green"></i></a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="board">
							<div class="panel panel-primary">
								<div class="number">
									<h3>
										<h3 ng-bind="generalInfo.user.isCompany"></h3>
										<small>企业</small>
									</h3>
								</div>
								<div class="icon">
									<a ng-href={{generalInfo.user.companyHref}}><i class="fa fa-suitcase fa-5x green"></i></a>
								</div>

							</div>
						</div>
					</div>
				</div>
				<footer>
				<p>
					Copyright &copy; 2016.Company name All rights reserved.UUmai
				</p>
				</footer>
			</div>
			<!-- /. PAGE INNER  -->
		</div>