
<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="main-menu">
			<li><a href="#/file"><i class="fa fa-dashboard"></i> 我的简历</a></li>
			<li><a class="active-menu" href="#/way"><i class="fa fa-fw fa-sitemap"></i>我的渠道</a></li>
		</ul>
	</div>
</nav>
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
	<div class="header">
		<h3 class="page-header">
			我的渠道 <small><a href="#/addWay"><font class="fa fa-plus"></font>&nbsp;新增</a></small>
		</h3>
		<ol class="breadcrumb">
			<li><a href="#/">首页</a></li>
			<li class="active"><a href="#/way">我的渠道</a></li>
		</ol>
	</div>
	<div id="page-inner">
		<!-- /. ROW  -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr class="info">
								<th>渠道</th>
								<th>会员名</th>
								<th>用户名</th>
								<th>状态</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="channel in channels">
								<td ng-bind="jobNameJson[channel.channel_id]"></td>
								<td ng-bind="channel.username"></td>
								<td ng-bind="channel.account"></td>
								<td ng-bind="statusNameJson[channel.status]"></td>
								<td>
									<span class="btn btn-warning btn-sm" ng-click="changeState({'STOP':'NORMAL','NORMAL':'STOP'}[channel.status],$index)" ng-bind="{'STOP':'啟用','NORMAL':'停用'}[channel.status]"></span>&nbsp;&nbsp;&nbsp;&nbsp;
									<a href=""  ng-click="changeWay(channel)"><span class="btn btn-info btn-sm">修改</span></a>
									&nbsp;&nbsp;&nbsp;&nbsp;<span class="btn btn-warning btn-sm" ng-click="changeState('DELETE',$index)">删除</span>
								</td>
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li ng-click="changePage(-1)"><a href="" aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a></li>
							<li ng-repeat = "page in pages" ng-click="changePage(page)"><a href="" ng-bind="page"></a></li>
							<li ng-click="changePage(-2)"><a href="" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<footer>
			<p>Copyright &copy; 2016.Company name All rights reserved.UUmai</p>
		</footer>
	</div>
	<!-- /. PAGE INNER  -->
</div>