<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ChannelDao">
<!--设置model类和数据库中表的字段一一对应，注意数据库字段和model类中的字段名称不致，此处一定要！-->
	<resultMap id="BaseResultMap" type="model.Channel">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="USERNAME" property="username" jdbcType="CHAR" />
		<result column="PASSWORD" property="password" jdbcType="CHAR" />
		<result column="ACCOUNT" property="account" jdbcType="CHAR" />
		<result column="STATUS" property="status" jdbcType="CHAR" />
		<result column="CHANNEL_ID" property="channel_id" jdbcType="INTEGER" />
		<result column="USER_ID" property="user_id" jdbcType="INTEGER" />
	</resultMap>
	<!-- 查询单条记录 -->
	<select id="getChannelById" parameterType="int" resultMap="BaseResultMap">
		SELECT * FROM hraccount WHERE ID = #{id} AND status!='STOP'
	</select>
	<select id="getChannelByUserId" resultMap="BaseResultMap">
		SELECT * FROM hraccount WHERE user_id = #{user_id} AND status!='DELETE' limit #{start},10
	</select>
	<!-- 创建渠道(Create) -->
	<insert id="createChannel" useGeneratedKeys="true" keyProperty="id" parameterType="model.Channel" >
		insert into hraccount(username,password,account,channel_id,status,user_id) values(#{username},#{password},#{account},#{channel_id},"NORMAL",#{user_id})
	</insert>
	<!-- 修改渠道(Change) -->
	<insert id="changeChannel" parameterType="model.Channel" >
		update hraccount set password=#{password} where id=#{id}
	</insert>
	<insert id="changeChannelStatus" parameterType="model.Channel" >
		update hraccount set status=#{status} where id=#{id}
	</insert>
	<!-- 获取渠道数目 -->
	<select id="getChannelCount" parameterType="int" resultType="int">
		SELECT count(*) FROM hraccount WHERE user_id = #{id} AND status!='DELETE'
	</select>
</mapper>