<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.RecordDao">
<!--设置model类和数据库中表的字段一一对应，注意数据库字段和model类中的字段名称不致，此处一定要！-->
	<resultMap id="BaseResultMap" type="model.Record">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="USERID" property="userID" jdbcType="INTEGER" />
		<result column="PRODUCTID" property="productID" jdbcType="INTEGER" />
		<result column="TIMESTAMP" property="timestamp" jdbcType="CHAR" />
	</resultMap>
	<!-- 查询单条记录 -->
	<select id="selectRecordById" parameterType="int" resultMap="BaseResultMap">
		SELECT * FROM record WHERE ID = #{id}
	</select>

	<!-- 创建购买记录(Create) -->
	<insert id="createRecord" useGeneratedKeys="true" keyProperty="id" parameterType="model.Record" >
		insert into record(productID,userID) values(#{productID},#{userID})
	</insert>
	   
	<!-- 查询全部用户-->
	<select id="selectRecordByUserId" parameterType="int" resultType="BaseResultMap">
		select * from record WHERE userID = #{userID}
	</select>
</mapper>